@import url('tailwindcss');

:root {
    --animaton-dur: 2s;
}


@keyframes shinyToNormal {
    from {
        filter: hue-rotate(0deg) saturate(1.4) brightness(0.9);
        transform: rotateX(0deg);
    }

    to {
        filter: hue-rotate(-60deg) saturate(2) brightness(1);
        transform: rotateX(15deg);
    }
}

.img-container {
    overflow: hidden;
}

@keyframes shinyGlow {
    0% {
        filter: drop-shadow(0 0 5px pink);
    }

    100% {
        filter: drop-shadow(0 0 20px #8AD3FF) brightness(1.2);
    }
}

.img-mew {
    filter: blur(1rem);
    animation: shinyToNormal var(--animaton-dur) alternate infinite linear;
}

.poke-img::after {
    content: '';
    position: absolute;
    bottom: 2;
    inset: 0;
}

.pokemons {
    background: linear-gradient(to left, var(--secondary), var(--primary));

    &.pokemons:hover {
        background: linear-gradient(to right, var(--primary), var(--border));
    }
}

.cards {
    background: linear-gradient(to top, var(--primary), var(--secondary));
    backdrop-filter: blur(10px);
    border: 2px solid var(--border);
    padding: 1rem;
    transition: all 0.3s ease;


}

.cards {
    padding: 12px;
    /* inner spacing */
    gap: 8px;
    /* space between elements inside */
}

.cards:hover {
    transition: all 0.4s ease;
    transform: translateY(-5px);
    background: radial-gradient(at center, var(--secondary), var(--primary));
    border-color: var(--bg-surface);
    box-shadow: 0 10px 10px var(--shadow-glow);
}
